@charset "UTF-8";
@font-face {
    font-family: 'fontepasta';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}

@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
body {
    /*fundo*/
    font-family: arial, sans-serf;
    background: linear-gradient(90deg, rgba(8, 8, 8, 1) 0%, rgba(143, 139, 139, 0.773546918767507) 100%);
}

p {
    /*alinhamento*/
    text-align: justify;
    /*espacamento de paragrafo*/
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* titulo da pagina e cabecalho*/


/* linha do titulo e foto (GLASS) */

header#cabecalho {
    /*borda inferior*/
    border-bottom: 1px silver solid;
    /*altura*/
    height: 183px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 127px;
    position: relative;
}


/* titulo H1 (GOOGLE GLASS) */

header#cabecalho h1 {
    font-family: 'Anton' sans-serif;
    font-size: 70px;
    color: rgb(122, 122, 122);
    text-shadow: 2px 2px 2px black;
    margin-bottom: 19px;
}


/* Subtitulo H2 ( A revoluÃƒÆ’Ã‚Â§ÃƒÆ’Ã‚Â£o do Google estÃƒÆ’Ã‚Â¡ chegando) */

header#cabecalho h2 {
    font-family: 'fontepasta';
    font-size: 20px;
    color: black;
    margin-top: 5px;
}


/* Oculos*/

img#icone {
    position: absolute;
    /*esquerda*/
    top: 0px;
    right: -40px;
}


/* interface do texto */

div#interface {
    /*largura*/
    width: 1000px;
    background: white;
    margin: 44px auto 0px auto;
    /*sombra da caixa*/
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    /*preenchimento*/
    padding: 10px;
    padding-top: 0px;
}


/* formatacao de imagens com legendas*/


/* Mulher e homem com oculos*/

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 2px 4px black
}

figure.foto-legenda img {
    /*largura*/
    width: 100%;
    /*altura*/
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0%;
    /*cor de fundo*/
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}


/* Formatacao de menu */

nav#menu {
    display: block;
    width: 100%;
    margin: 0px;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* background: linear-gradient(90deg, rgba(8, 8, 8, 1) 0%, rgba(143, 139, 139, 0.773546918767507) 100%); */
    padding: 0;
}

nav#menu .menu_container {
    width: 1000px;
    margin: auto;
    background: white;
    overflow: hidden;
    padding: 2px 0;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top: 0;
    left: 0px;
    float: right;
    margin: 0;
    padding: 0;
}

nav#menu li {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    border-radius: 300px;
    background-color: black;
}

nav#menu h1 {
    display: none;
}

nav#menu li:hover {
    border-radius: 300px;
    background: linear-gradient(90deg, rgba(63, 63, 63, 0.535) 0%, rgba(0, 0, 0, 1) 100%);
    transition: background-color 1s;
}

nav#menu a {
    color: white;
    text-decoration: none;
}

nav#menu a:hover {
    text-decoration: none;
    color: white;
}


/* sessao principal*/

section#corpo {
    display: block;
    width: 522px;
    float: left;
    border-right: 1px solid silver;
    padding: 0px 4px;
    box-shadow: 2px 2px 2px rgb(177, 174, 174);
    margin-top: 7px;
}

article#noticia-principal h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'fontepasta';
    font-size: 25px;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2 {
    font-size: 13px;
    color: #cecece;
    background-color: white;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
    margin-bottom: 0px;
}

.direita {
    text-align: right;
}


/* lado lateral*/

aside#lateral {
    display: block;
    width: 440px;
    float: right;
    padding: 10px;
    /* margin-right: 100px; */
    margin-top: 8px;
    box-shadow: 2px 2px 2px rgba(0.0.0.5);
    background-color: rgb(177, 174, 174);
}

aside#lateral h1 {
    font-family: 'fontepasta';
    color: #606060;
    font-size: 21pt;
    margin-top: 0px;
}

aside#lateral h2 {
    font-size: 12pt;
    color: #dddddd;
    background-color: #606060;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

video#filme {
    width: 420px;
}


/* tabela especificaÃ§Ãµes*/

table#tabela {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px 4px;
}

table#tabela caption {
    caption-side: top;
    color: white;
    font-size: 20px;
    background: black;
    vertical-align: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

table#tabela caption span {
    display: block;
    float: right;
    color: white;
    font-size: 15px;
    padding-left: 0px;
    margin-top: 12px;
    margin-left: 0px;
    width: 70px;
}

table#tabela td {
    border: 1px solid #606060;
    padding: 10px;
    vertical-align: top;
}

table#tabela td.CE {
    text-align: right;
    color: white;
    background: #606060
}

table#tabela td.CD {
    text-align: left;
    color: white;
    background: silver
}


/*rodape*/

footer#rodape {
    clear: both;
    border-top: 1px solid silver;
}

footer#rodape p {
    text-align: center;
}

i.fa.fa-copyright {
    display: initial;
}