    form {
        width: 500px;
        margin: auto
    }
    
    input,
    textarea {
        font-family: sans-serif;
        font-size: 11pt;
        font-weight: normal;
        background-color: rgba(255, 255, 255, .10);
    }
    
    input:hover,
    textarea:hover {
        background-color: #dddddd
    }
    
    legend {
        color: #888888;
        font-weight: bold;
        font-size: 13pt;
        font-family: sans-serif;
    }
    
    label {
        display: inline;
    }
    
    fieldset {
        border-color: black;
        margin: 15px;
        padding-left: 10px;
        padding-right: 10px;
        border: double;
    }
    
    fieldset#sexo {
        height: 103px;
        width: 200px;
    }
    
    fieldset#usuario {
        background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
    }
    
    fieldset#endereco {
        background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
    }
    
    fieldset#mensagem {
        background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
    }
    
    fieldset#pedido {
        background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
    }