div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url(../_imagens/radio-tv.png) no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    width: 300px;
    height: 50px;
    top: 491px;
    background-color: #f1f3f4;
}

video#filme {
    width: 440px;
    border-radius: 40px;
    position: relative;
    left: 90px;
    top: 70px;
}