    @charset "UTF-8";
    section#conteudo {
        width: 1000px;
        margin: auto;
    }
    
    iframe#framespec {
        POSITION: relative;
        width: 415px;
        height: 280px;
        left: 7%;
        border: none;
        overflow: hidden;
        /* TEXT-ALIGN: LEFT; */
        /* BACKGROUND-COLOR: BLACK; */
    }
    
    iframe#framespec::-webkit-scrollbar {
        display: none;
    }
    
    img#fotoesquema {
        margin-top: -250px;
    }